.header {
    text-align: center;
    background-color:#6b8bf3;
    padding:15px;
}

#mainheader {
    font-size: 60px;
}

.realbody {
    background-color:#f6f6ff;
    padding-top:15px;
}

#subheader {
    color: #414141;
}

#me {
    font-size:19px;
}

.information {
    padding-left:25px;
}

.tomain {
    padding: 15px 50px;
    text-align: right;
}

footer {
    background-color:#6b8bf3;
    padding:3px;
    text-align: center;
}