{% load static %}
<html>
<head>
    <title>WORDCOUNT - 정보</title>
    <link href="{% static 'wordcountcss/aboutstyle.css' %}" rel="stylesheet">
    <style> 
        @font-face { font-family: 'KyoboHand'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'netmarbleL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleL.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'netmarbleB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff'); font-weight: normal; font-style: normal; }
    </style>
</head>
<body>
    <div class="header" style="font-family:netmarbleB">
        <h1 id="mainheader">단어수세기</h1>
        <h4 id="subheader">홈페이지와 제작자 <a id="me">손시온</a>에 대하여</h4>
    </div>
    <div class="realbody" style="font-family:netmarbleL">
    <div class="information">
        <h2>제작자 정보</h2>
        <p>이름 : 손시온
        <br>소속 : 동덕여대 정보통계학과 | 멋쟁이사자처럼 동덕여대
        <br>연락처 : sscool3658@likelion.org</p>
        <br><h2>홈페이지 정보</h2>
        <p>이 페이지는 단어 수를 세주는 홈페이지입니다. 
        <br>vscode에서 Django를 통해 html과 css를 이용하여 만든 홈페이지입니다.
        <br>다양한 글을 분석할 때 사용하면 편리합니다.
        <br>많은 이용 부탁드립니다.</p>
        <br><h2>관련 링크</h2>
    </div>
        <div class="link">
        <ul>
            <li><a target="_blank" href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EB%84%A4%EC%9D%B4%EB%B2%84+%EA%B8%80%EC%9E%90%EC%88%98%EC%84%B8%EA%B8%B0&oquery=%EB%84%A4%EC%9D%B4%EB%B2%84+%EA%B8%80%EC%9E%90%EC%88%98%EC%84%B8%EA%B8%B0&tqi=UrS78sprvOsssshKV0sssssst6G-214157">글자수세기</a></li>
            <li><a target="_blank" href="https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bkgy&query=%EB%A7%9E%EC%B6%A4%EB%B2%95%EA%B2%80%EC%82%AC%EA%B8%B0">맞춤법검사</a></li>
            <li><a target="_blank" href="https://dict.naver.com/">사전</a></li>
        </ul>
        </div>
    <div class="tomain">
        <a href="{%url 'home'%}">메인으로 돌아가기</a>
    </div>
    </div>
</body>
<footer>
    <p>made by <a href="{%url 'about'%}" style="font-family:netmarbleL">손시온</a></p>
</footer>
<!-- body는 알아서 채워넣고 footer에는 
    나에 관한 링크. 과홈페이지나 멋사, 구글계정 등으로 연결-->

</html>