{% load static %}
<html>
<head>
    <title>WORDCOUNT - 단어수세기</title>
    <link href="{% static 'wordcountcss/homestyle.css' %}" rel="stylesheet">
    <style> 
        @font-face { font-family: 'KyoboHand'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'netmarbleL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleL.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'netmarbleB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff'); font-weight: normal; font-style: normal; }
    </style>
</head>

<body>
    <div class="header">
    <h1 id="mainheader" style="font-family:netmarbleB">단어수세기</h1>
        <h4 id ="subheader" style="font-family:netmarbleL">지원서, 자기소개서, 레포트 등을 작성할 때 사용해보세요!
            <br>기사와 같은 글을 분석할 때도 유용합니다!</h4>
    </div>
    <div class="count">
    <h1 style="font-family:netmarbleL">텍스트를 입력하세요!</h1>
    <form action="{%url 'result'%}">
        <textarea cols="50" rows="12" name="fulltext" style="font-family:KyoboHand">이 텍스트를 지우고 텍스트를 입력한 후 아래의 단어수세기 버튼을 눌러주세요.</textarea>
        <br><br>
        <input type="submit" value="단어수세기" style="font-family:netmarbleL" id="btn">
    </form>
    </div>
</body>
<footer>
    <p>made by <a href="{%url 'about'%}" style="font-family:netmarbleL">손시온</a></p>
</footer>
</html>